<div class="container-fluid mt-5">
  <h4 class="mb-3">{{exhibition.name}}</h4>

  <div class="card mb-5">
    <div class="card-header d-flex justify-content-between">
      <h5 class="mt-2">展覽資訊</h5>
      <a href="/admin/exhibitions/{{exhibition.id}}/edit">
        <button class="btn btn-success">Edit</button>
      </a>
    </div>
    <div class="card-body row d-flex justify-content-between">
      <div class="col-12 col-lg-8">
        <ul>
          <li class="my-2"><strong>開始日期</strong> {{exhibition.date_start}}</li>
          <li class="mb-2"><strong>結束日期</strong> {{exhibition.date_end}}</li>
          <li class="mb-2"><strong>展覽地點</strong> {{exhibition.location}}</li>
          <li class="mb-2"><strong>展覽介紹</strong> </li>
          <p class="mb-2">{{exhibition.introduction}}</p>
        </ul>
      </div>

      <div class="col-12 col-lg-4 d-flex justify-content-center">
        <img class="mx-auto rounded" style="max-width: 500px; object-fit: contain" src="{{exhibition.poster}}"
          alt="{{exhibition.name}}">
      </div>
    </div>
  </div>



  {{!-- exhibition images --}}
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h5 class="mt-2">展覽圖片</h5>
      <button class="btn btn-success" id="uploadBtn">Upload</button>
    </div>
    <div class="d-none card-body my-2" id="imageDiv">
      <div class="row justify-content-end">
        <form action="/admin/exhibitions/{{exhibition.id}}/images?_method=PUT" id="imageForm"
          class="col-9 col-sm-6 col-lg-4 d-inline-block needs-validation" method="post" enctype="multipart/form-data" novalidate>
          <input class="form-control form-control-sm" type="file" name="exhImage" style="max-width: 400px;" required>
          <div class="invalid-feedback">請上傳檔案</div>
          <select class="form-select form-select-sm" name="type" aria-label=".form-select-sm" style="max-width: 400px;">
            <option value="poster">Poster</option>
            <option value="space">Space</option>
            <option value="artist">Artist</option>
            <option value="long poster">Long Poster</option>
            <option value="introduction">Introduction</option>
          </select>
          <textarea class="form-control  form-control-sm" name="description" rows="1" placeholder="Description - Max 200 words"
            style="max-width: 400px;" maxlength="200"></textarea>
        </form>
        <div class="col-3 col-sm-2 col-lg-1 align-self-end">
          <button type="submit" form="imageForm" class="btn btn-outline-success btn-sm">送出</button>
        </div>
      </div>
    </div>

    <div class="card-body grid" id="exhibitionImagesDiv">
      {{#each exhibition.ExhibitionImages}}
      <div class="grid-item grid-item-exhImage-sm">

        <img class="modal-original-img" src="{{this.url}}" alt="{{this.type}}">

        {{!-- delete button --}}
        <form action="/admin/exhibitions/{{../exhibition.id}}/images?_method=DELETE" method="post" style="position: absolute; top: 5px; right: 10px;">
          <input class="d-none" type="text" name="imageId" value="{{this.id}}">
          <button type="submit" class="btn btn-sm delete">
            <span class="delete" style="color: #CC0000;">
              <i class="fa-solid fa-xmark delete"></i>
            </span>
          </button>
        </form>
      </div>
      {{/each}}
    </div>
  </div>

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <span class="close">&times;</span>
    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="modalImg">
    <div id="caption"></div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
  const $grid = $('.grid').masonry({
    itemSelector: '.grid-item',
    columnWidth: 30,
  });

  $grid.imagesLoaded().progress(function () {
    $grid.masonry();
  });

  // show or hide upload form
  const uploadBtn = document.getElementById('uploadBtn')
  const imageDiv = document.getElementById('imageDiv')
  uploadBtn.addEventListener('click', () => {
    imageDiv.classList.toggle('d-none')
  })


  // trigger the modal or delete confirm
  const modal = document.getElementById("myModal");
  const exhibitionImagesDiv = document.getElementById("exhibitionImagesDiv")
  const modalImg = document.getElementById("modalImg");
  const captionText = document.getElementById("caption");
  exhibitionImagesDiv.addEventListener('click', (event) => {
    let target = event.target
    if (target.tagName === "IMG") {
      modal.style.display = "block";
      modalImg.src = target.src;
      captionText.innerHTML = target.alt;
    }

    if (target.classList.contains("delete")) {
      event.preventDefault()

      function findForm(target) {
        if (target.parentElement.tagName === "FORM")  return target.parentElement
        return findForm(target.parentElement)
      }
      let form = findForm(target)

      Swal.fire({
        title: 'Are you sure?',
        text: `確定要刪除？`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: '刪除！'
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire(
            '已刪除!',
            ``,
            'success'
          ).then(result => {
            form.submit()
          })
        }
      })
    }
  })

  // close the modal
  modal.addEventListener('click', (event) => {
    if (event.target.id === "myModal" || event.target.tagName === 'SPAN') {
      modal.style.display = "none";
    }
  })

  // upload image validation
  let forms = document.querySelectorAll('.needs-validation')

  // loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })


</script>