<div class="container-fluid mt-5">
  <div class="d-flex justify-content-between">
    <h4 class="mb-3">{{exhibition.name}}</h4>
    <p>展覽資訊
      <a class="ms-2" href="/admin/exhibitions/{{exhibition.id}}" role="button">
        <i class="fa-solid fa-circle-info"></i>
      </a>
    </p>
  </div>

  <div class="card" id="exhibition_artworks" style="overflow-x: auto">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="mt-2">展出藝術品</h5>
        <p class="text-muted mt-3">共{{exhibition.artwork_sum}}件作品</p>
        <a href="/admin/exhibitions/{{exhibition.id}}/select_artworks/"><button class="btn btn-success">Add</button></a>
      </div>
    </div>

    <table class="table table-bordered table-hover" style="min-width: 100%;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" style="min-width: 100px;">圖示</th>
          <th scope="col">品號</th>
          <th scope="col" style="min-width: 65px">藝術家</th>
          <th scope="col">品名</th>
          <th scope="col">創作時間</th>
          <th scope="col">媒材</th>
          <th scope="col">長</th>
          <th scope="col">寬</th>
          <th scope="col">深</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each exhibition.ContainedArtworks}}
        <tr>
          <th scope="row">{{increment @index}}</th>
          <td>
            <img src="{{this.ArtworkImages.[0].[url]}}" alt="{{this.name}}"
              style="width: 100px; max-height: 150px; object-fit: cover">
          </td>
          <td>{{this.serialNumber}}</td>
          <td>{{this.artistName}}</td>
          <td>{{this.name}}</td>
          <td>{{this.creationTime}} {{this.creationTimeNote}}</td>
          <td>{{this.Medium.name}}</td>
          <td>{{this.height}}</td>
          <td>{{this.width}}</td>
          <td>{{this.depth}}</td>
          <td>
            <div class="btn-group" role="group">
              <a href="/admin/artworks/{{this.id}}">
                <button class="btn btn-outline-primary btn-sm">More</button>
              </a>
              <a href="/admin/artworks/{{this.id}}/edit">
                <button class="btn btn-outline-success btn-sm">Edit</button>
              </a>
              <form action="/admin/exhibitions/{{../exhibition.id}}/artworks?_method=DELETE" method="post">
                <input type="text" class="d-none" name="artworkId" value="{{this.id}}">
                <button type="submit" class="btn btn-outline-danger btn-sm">Remove</button>
              </form>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>

    </table>
  </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  let tbody = document.querySelector('tbody')
  tbody.addEventListener('click', (event) => {
    if (event.target.classList.contains('btn-outline-danger')) {
      event.preventDefault()
      let form = event.target.parentElement
      let tr = form.parentElement.parentElement.parentElement
      let artistName = tr.children[3].innerText
      let name = tr.children[4].innerText

      Swal.fire({
        title: 'Are you sure?',
        text: `確定要刪除 ${artistName}-${name}`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: '刪除！'
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire(
            '已刪除',
            `${artistName}-${name}`,
            'success'
          ).then(result => {
            form.submit()
          })
        }
      })
    }
  })
</script>