<div class="artworks-banner mb-5">
</div>

<div class="container-fluid mx-auto" style="max-width: 1400px">
  {{!-- searched keywords --}}
  <h4 class="d-inline-block mb-3 me-3"><strong>Search</strong></h4>
  <p class="d-inline-block mb-3">
    <small>{{searching.medium}}　{{searching.artist}}　{{searching.artworkName}}　{{searching.subject}}　{{searching.height}}　{{searching.width}}　{{searching.depth}}　{{searching.shape}}　{{searching.year}}
    </small>
  </p>

  {{!-- selections --}}
  <form class="row ms-2 mb-5" action="/artworks/search">
    <div class="col-12 col-md-11">
      <div class="row">
        <div class="col-12 col-sm-4 col-lg-3 mb-3">
          <input name="medium" class="form-control form-control-sm" list="datalistOptions" placeholder="媒材"
            value="{{searching.medium}}">
          <datalist id="datalistOptions">
            {{#each selections.media}}
            <option value="{{this.name}}">
              {{/each}}
          </datalist>
        </div>

        <div class="col-12 col-sm-4 col-lg-3 mb-3">
          <input name="artist" class="form-control form-control-sm" list="artistsOptions" placeholder="作者姓名"
            value="{{searching.artist}}">
          <datalist id="artistsOptions">
            {{#each selections.artists}}
            <option value="{{this.name}}">
              {{/each}}
          </datalist>
        </div>

        <div class="col-12 col-sm-4 col-lg-3 mb-3">
          <input name="artworkName" type="text" class="form-control form-control-sm" placeholder="作品名稱"
            value="{{searching.artworkName}}">
        </div>

        <div class="col-12 col-sm-4 col-lg-3 mb-3">
          <input name="subject" class="form-control form-control-sm" list="subjectsOptions" placeholder="主題"
            value="{{searching.subject}}">
          <datalist id="subjectsOptions">
            {{#each selections.subjects}}
            <option value="{{this.name}}">
              {{/each}}
          </datalist>
        </div>

        <div class="col-auto  mb-3">
          <button class="btn btn-outline-primary  btn-sm"  type="button" data-bs-toggle="collapse"
            data-bs-target="#moreOptions"   aria-expanded="{{#toggleOptions searching}} true {{else}} false {{/toggleOptions}}" aria-controls="moreOptions">
            More options
          </button>
        </div>

        {{!-- Collapse Selections --}}
        <div class="col-12 col-md-12 card-group mb-3 collapse {{#toggleOptions searching}}show{{/toggleOptions}}"  id="moreOptions">
          <div class="card card-body" style="min-width: 15rem;">
            <label for="height_lower" class="form-label">作品尺寸 (cm) <small class="ms-2 text-muted">包含輸入尺寸　e.g.
                80</small></label>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" style="width: 55px;">
                長<i class="fa-solid fa-arrows-up-down ms-2"></i>
              </span>
              <input name="height_lower" id="height_lower" type="number" min="1" max="1000" class="form-control"
                aria-label="Height lower input" aria-describedby="height_lower" placeholder="下限"
                value="{{searching.height_lower}}">
              <span class="input-group-text"> - </span>
              <input name="height_upper" id="height_upper" type="number" min="1" max="1000" class="form-control"
                aria-label="Height upper input" aria-describedby="height_upper" placeholder="上限"
                value="{{searching.height_upper}}">
            </div>

            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="width_lower" style="width: 55px;">
                寬 <i class="fa-solid fa-arrows-left-right ms-2"></i>
              </span>
              <input name="width_lower" type="number" min="1" max="1000" class="form-control"
                aria-label="Width lower input" aria-describedby="width_lower" placeholder="下限"
                value="{{searching.width_lower}}">
              <span class="input-group-text"> - </span>
              <input name="width_upper" id="width_upper" type="number" min="1" max="1000" class="form-control"
                aria-label="Width upper input" aria-describedby="width_upper" placeholder="上限"
                value="{{searching.width_upper}}">
            </div>

            <div class="input-group input-group-sm mb-3" title="立體作品深度篩選">
              <span class="input-group-text" id="depth_lower" style="width: 55px;">
                深<i class="fa-solid fa-arrows-up-down ms-2 fa-rotate-by" style="--fa-rotate-angle: 45deg;"></i>
              </span>
              <input name="depth_lower" type="number" min="1" max="1000" class="form-control"
                aria-label="Depth lower input" aria-describedby="depth_lower" placeholder="下限"
                value="{{searching.depth_lower}}">
              <span class="input-group-text" id="depth_upper"> - </span>
              <input name="depth_upper" type="number" min="1" max="1000" class="form-control"
                aria-label="Depth upper input" aria-describedby="depth_upper" placeholder="上限"
                value="{{searching.depth_upper}}">
            </div>
          </div>

          <div class="card card-body"
            style="min-width: 15rem; border-style: solid; border-width: 1px; border-color:rgba(0,0,0,0.125)">
            <p>篩選直式或橫式</p>
            <small class="mb-2 text-muted">預設包含兩者</small>
            <div class="btn-group d-flex justify-content-evenly" role="group"
              aria-label="Basic checkbox toggle button group">

              <input name="shape_portrait" type="checkbox" class="btn-check" value="true" id="portrait"
                autocomplete="off" {{#if searching.shape_portrait}} checked {{/if}}>
              <label class="btn btn-outline-light" for="portrait" style="min-width: 55px; min-height: 55px"
                title="Show Portrait only">
                <svg width="20" height="30">
                  <rect width="20" height="30" style="fill:rgb(168, 168, 166);stroke-width:1; stroke: rgb(20, 0, 0)">
                </svg>
              </label>

              <input name="shape_landscape" type="checkbox" class="btn-check" value="true" id="landscape"
                autocomplete="off" {{#if searching.shape_landscape}} checked {{/if}}>
              <label class="btn btn-outline-light" for="landscape" style="width: 55px; height: 55px"
                title="Show Landscape only">
                <svg width="30" height="20">
                  <rect width="30" height="20" style="fill:rgb(168, 168, 166);stroke-width:1;stroke:rgb(0,0,0)" />
                </svg>
              </label>
            </div>
          </div>

          <div class="card card-body"
            style="min-width: 15rem; border-style: solid; border-width: 1px; border-color:rgba(0,0,0,0.125)">
            <label for="createYear_lower" class="form-label">創作年份<small class="ms-2 text-muted">e.g.
                1980</small></label>
            <div class="input-group input-group-sm mb-3">
              <input name="createYear_lower" id="createYear_lower" type="number" min="1" max="2100" class="form-control"
                aria-label="Height lower input" aria-describedby="createYear_lower" placeholder="下限"
                value="{{searching.createYear_lower}}">
              <span class="input-group-text" id="createYear_upper"> - </span>
              <input name="createYear_upper" type="number" min="1" max="2100" class="form-control"
                aria-label="Height upper input" aria-describedby="createYear_upper" placeholder="上限"
                value="{{searching.createYear_upper}}">
            </div>
            <div class="form-check form-switch ms-auto">
              <input name="createYear_includeNone" class="form-check-input" type="checkbox" role="switch"
                id="createYear_includeNone" {{#if searching.createYear_includeNone}}checked{{/if}}>
              <label class="form-check-label" for="createYear_includeNone">包含無年份的作品</label>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="col-12 col-md-1">
      <div class="row">
        <div class="col-12 ms-auto mb-3">
          <button type="submit" class="btn btn-success btn-sm">Submit</button>
        </div>
        <div class="col-12 ms-auto mb-3">
          <button type="button" class="btn btn-secondary btn-sm" id="clear_button" >Clear</button>
        </div>
      </div>
    </div>

  </form>


  {{!-- 查詢前顯示各項代表作品 --}}
  {{#unless artwork_result}}
  {{!-- media --}}
  <h4 class="mb-3"><strong>媒材</strong></h4>
  <hr class="mb-4">
  <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-5 g-4 mb-5">
    {{#each selections.media}}
    {{#passNoResult this.workCount}}
    <div class="col">
      <a href="/artworks/search?mediumId={{this.id}}">
        <div class="card h-100">
          <img src="{{this.Artworks.ArtworkImages.url}}" style="width: 100%; height: 100px; object-fit: cover"
            class="card-img-top" alt="{{this.name}}">

          <div class="card-body d-flex justify-content-between">
            <h5 class="card-title">{{this.name}}</h5>
            <small class="text-muted">{{this.workCount}}</small>
          </div>
        </div>
      </a>
    </div>
    {{/passNoResult}}
    {{/each}}
  </div>

  {{!-- artists --}}
  <h4 class="mb-3"><strong>藝術家</strong></h4>
  <hr class="mb-4">
  <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-5 g-4 mb-5">
    {{#each selections.artists}}
    {{#passNoResult this.workCount}}
    <div class="col">
      <a href="/artworks/search?artistId={{this.id}}">
        <div class="card h-100">
          <img src="{{this.Creations.ArtworkImages.url}}" style="width: 100%; height: 100px; object-fit: cover"
            class="card-img-top" alt="{{this.name}}">

          <div class="card-body d-flex justify-content-between">
            <h5 class="card-title">{{this.name}}</h5>
            <small class="text-muted">{{this.workCount}}</small>
          </div>
        </div>
      </a>
    </div>
    {{/passNoResult}}
    {{/each}}
  </div>

  {{!-- subjects --}}
  <h4 class="mb-3"><strong>主題</strong></h4>
  <hr class="mb-4">
  <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-5 g-4 mb-5">
    {{#each selections.subjects}}
    {{#passNoResult this.workCount}}
    <div class="col">
      <a href="/artworks/search?subjectId={{this.id}}">
        <div class="card h-100">
          <img src="{{this.ContainedArtworks.ArtworkImages.url}}" style="width: 100%; height: 100px; object-fit: cover"
            class="card-img-top" alt="{{this.name}}">

          <div class="card-body d-flex justify-content-between">
            <h5 class="card-title">{{this.name}}</h5>
            <small class="text-muted">{{this.workCount}}</small>
          </div>
        </div>
      </a>
    </div>
    {{/passNoResult}}
    {{/each}}
  </div>
  {{/unless}}

  {{!-- 查到結果 --}}
  {{#if artwork_result.rows }}
  <p>共{{artwork_result.count}}件藝術品</p>
  {{/if}}

  {{#noResult artwork_result.count}}
  <p align="center">查無藝術品，請重新搜尋</p>
  {{/noResult}}


  {{!-- artwork searching results --}}
  <div class="grid mb-5">
    {{#each artwork_result.rows}}
    <div class="card grid-item grid-item-artwork-big">
      <a href="/artworks/{{this.id}}">
        <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}"
          style="height: auto; min-height: 50px; max-height: 600px; object-fit: cover">
      </a>
      <div style="position: absolute; bottom: 120px; right: 5%;" align="right" class="d-flex justify-content-end button-area">
        <button type="button" class="btn btn-sm btn-link modal_btn addCollection_btn"
          data-bs-target="#editCollection_{{this.id}}">
          {{#if this.isAdded}}
          <i class="fa-solid fa-circle-plus modal_btn addCollection_btn "></i>
          {{else}}
          <i class="fa-solid fa-plus modal_btn addCollection_btn"></i>
          {{/if}}
        </button>
      
        {{#if this.isFavorite}}
        <form id="favorite" action="/collections/favorite/{{this.id}}?_method=DELETE" method="post">
          <button type="submit" form="favorite" class="btn btn-sm btn-link favorite_btn">
            <i class="fa-solid fa-heart favorite_btn"></i>
          </button>
        </form>
        {{else}}
        <form id="favorite" action="/collections/favorite/{{this.id}}" method="post">
          <button type="submit" form="favorite" class="btn btn-sm btn-link favorite_btn">
            <i class="fa-regular fa-heart favorite_btn"></i>
          </button>
        </form>
        {{/if}}
      </div>

      <div class="card-body">
        <h6 class="card-title" style="height: 2em;">{{this.name}}</h6>
        <small class="card-text" style="height: 2em;">{{#each
          this.Creators}}{{this.name}}{{/each}}　{{this.medium}}　{{this.creationTime}}　{{this.size}}&nbsp;cm
        </small>
      </div>
    </div>

    <div class="modal fade" id="editCollection_{{this.id}}" tabindex="-1">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add to Collections</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="min-height: 200px" align="center">
            <form id="edit_collection_{{this.id}}" action="/collections/artworks/{{this.id}}?_method=PUT" method="post">
              <select class="form-select mb-3" name="collectionId_select" id="selectWork_{{this.id}}" size="8" multiple>
              </select>
              <p class="text-muted">Press ctrl to add or remove multiple collections.</p>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" form="edit_collection_{{this.id}}" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>


<script>
  const $grid = $('.grid').masonry({
    itemSelector: '.grid-item',
    columnWidth: 10,  // 欄與欄之間的距離
    // horizontalOrder: true
  });

  $grid.imagesLoaded().progress(function () {  // trigger layout after loaded then initialize Masonry
    $grid.masonry();
  });

  // ajax get collections
  const grid = document.querySelector('.grid')

  function removeAllChild(node) {
    while (node.firstElementChild) {
      node.removeChild(node.firstElementChild)
    }
  }
  grid.addEventListener('click', async (event) => {
    // check logout before submit add collection / favorite
    const ifLogout = document.querySelector('#login')
    const login_alert = new bootstrap.Modal(document.getElementById('login_alert'))
    let target = event.target

    // add favorites button
    if (target.classList.contains('favorite_btn')) {
      event.stopPropagation()
      event.preventDefault()
      if (ifLogout) login_alert.show() 
      else {
        let form
        if (target.tagName === 'I') {
          form = target.parentElement.parentElement
        } else {
          form = target.parentElement
        }
        form.submit()
      }
    }

    // add collection button: 
    if (target.classList.contains('modal_btn')) {
      let workId
      if (target.tagName === 'I') {
        workId = target.parentElement.getAttribute('data-bs-target').split('_')[1]
      } else {
        workId = target.getAttribute('data-bs-target').split('_')[1]
      }

      if (ifLogout) login_alert.show()
      else {
        const modalCalled = new bootstrap.Modal(document.getElementById(`editCollection_${workId}`))
        modalCalled.show()
        try {
          let response = await axios.get('/api/session/collections')
          let ownCollections = response.data
          let modal_select = document.getElementById(`selectWork_${workId}`)
          removeAllChild(modal_select)

          ownCollections.forEach(col => {
            let option = document.createElement('option')
            option.setAttribute('value', col.id)
            if (col.JoinedArtworks.find(work => work.id === Number(workId))) {
              option.setAttribute('selected', "")
            }
            option.innerText = `${col.name} (${col.workCount} pieces)`
            modal_select.appendChild(option)
          })
        } catch (error) {
          console.log(error)
        }
      }
    }
  })

  // clear selections
  let clear_button = document.getElementById('clear_button')
  let inputs = document.querySelectorAll('input')
  clear_button.addEventListener('click', (event) => {
    inputs.forEach(input => {
      input.value = ""
    })
  })
</script>