<div class="artworks-banner mb-5">
</div>

<div class="container-fluid">
  {{!-- searched keywords --}}
  <h4 class="d-inline-block mb-3 me-3">Search</h4>
  <p class="d-inline-block mb-3">
    <small>{{searching.medium}}　{{searching.artist}}　{{searching.artworkName}}　{{searching.subject}}　{{searching.height}}　{{searching.width}}　{{searching.depth}}　{{searching.shape}}
    </small>
  </p>

  {{!-- selections --}}
  <form class="row ms-2 mb-5" action="/artworks/search">
    <div class="col-12 col-md-11">
      <div class="row">
        <div class="col-12 col-sm-4 col-lg-3 mb-3">
          <input name="medium" class="form-control form-control-sm" list="datalistOptions" placeholder="媒材"
            value="{{searching.medium}}">
          <datalist id="datalistOptions">
            {{#each selections.media}}
            <option value="{{this.name}}">
              {{/each}}
          </datalist>
        </div>

        <div class="col-12 col-sm-4 col-lg-3 mb-3">
          <input name="artist" class="form-control form-control-sm" list="artistsOptions" placeholder="作者姓名"
            value="{{searching.artist}}">
          <datalist id="artistsOptions">
            {{#each selections.artists}}
            <option value="{{this.name}}">
              {{/each}}
          </datalist>
        </div>

        <div class="col-12 col-sm-4 col-lg-3 mb-3">
          <input name="artworkName" type="text" class="form-control form-control-sm" placeholder="作品名稱"
            value="{{searching.artworkName}}">
        </div>

        <div class="col-12 col-sm-4 col-lg-3 mb-3">
          <input name="subject" class="form-control form-control-sm" list="subjectsOptions" placeholder="主題"
            value="{{searching.subject}}">
          <datalist id="subjectsOptions">
            {{#each selections.subjects}}
            <option value="{{this.name}}">
              {{/each}}
          </datalist>
        </div>

        <div class="col-auto  mb-3">
          <button class="btn btn-outline-primary btn-sm" type="button" data-bs-toggle="collapse"
            data-bs-target="#moreOptions" aria-expanded="false" aria-controls="moreOptions">
            More options
          </button>
        </div>

        {{!-- Collapse Selections --}}
        <div class="col-12 col-md-12 collapse card-group mb-3" id="moreOptions">
          <div class="card card-body" style="min-width: 15rem;">
            <label for="height_lower" class="form-label">作品尺寸 (cm) <small class="ms-2 text-muted">包含輸入尺寸　e.g.
                80</small></label>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" style="width: 55px;">
                長<i class="fa-solid fa-arrows-up-down ms-2"></i>
              </span>
              <input name="height_lower" id="height_lower" type="number" min="1" max="1000" class="form-control"
                aria-label="Height lower input" aria-describedby="height_lower" placeholder="下限"
                value="{{searching.height_lower}}">
              <span class="input-group-text"> - </span>
              <input name="height_upper" id="height_upper" type="number" min="1" max="1000" class="form-control"
                aria-label="Height upper input" aria-describedby="height_upper" placeholder="上限"
                value="{{searching.height_upper}}">
            </div>

            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="width_lower" style="width: 55px;">
                寬 <i class="fa-solid fa-arrows-left-right ms-2"></i>
              </span>
              <input name="width_lower" type="number" min="1" max="1000" class="form-control"
                aria-label="Width lower input" aria-describedby="width_lower" placeholder="下限"
                value="{{searching.width_lower}}">
              <span class="input-group-text"> - </span>
              <input name="width_upper" id="width_upper" type="number" min="1" max="1000" class="form-control"
                aria-label="Width upper input" aria-describedby="width_upper" placeholder="上限"
                value="{{searching.width_upper}}">
            </div>

            <div class="input-group input-group-sm mb-3" title="立體作品深度篩選">
              <span class="input-group-text" id="depth_lower" style="width: 55px;">
                深<i class="fa-solid fa-arrows-up-down ms-2 fa-rotate-by" style="--fa-rotate-angle: 45deg;"></i>
              </span>
              <input name="depth_lower" type="number" min="1" max="1000" class="form-control"
                aria-label="Depth lower input" aria-describedby="depth_lower" placeholder="下限"
                value="{{searching.depth_lower}}">
              <span class="input-group-text" id="depth_upper"> - </span>
              <input name="depth_upper" type="number" min="1" max="1000" class="form-control"
                aria-label="Depth upper input" aria-describedby="depth_upper" placeholder="上限"
                value="{{searching.depth_upper}}">
            </div>
          </div>

          <div class="card card-body"
            style="min-width: 15rem; border-style: solid; border-width: 1px; border-color:rgba(0,0,0,0.125)">
            <p>篩選直式或橫式</p>
            <small class="mb-2 text-muted">預設包含兩者</small>
            <div class="btn-group d-flex justify-content-evenly" role="group"
              aria-label="Basic checkbox toggle button group">

              <input name="shape_portrait" type="checkbox" class="btn-check" value="true" id="portrait"
                autocomplete="off" {{#if searching.shape_portrait}} checked {{/if}}>
              <label class="btn btn-outline-light" for="portrait" style="min-width: 55px; min-height: 55px"
                title="Show Portrait only">
                <svg width="20" height="30">
                  <rect width="20" height="30" style="fill:rgb(168, 168, 166);stroke-width:1; stroke: rgb(20, 0, 0)">
                </svg>
              </label>

              <input name="shape_landscape" type="checkbox" class="btn-check" value="true" id="landscape"
                autocomplete="off" {{#if searching.shape_landscape}} checked {{/if}}>
              <label class="btn btn-outline-light" for="landscape" style="width: 55px; height: 55px"
                title="Show Landscape only">
                <svg width="30" height="20">
                  <rect width="30" height="20" style="fill:rgb(168, 168, 166);stroke-width:1;stroke:rgb(0,0,0)" />
                </svg>
              </label>
            </div>
          </div>

          <div class="card card-body"
            style="min-width: 15rem; border-style: solid; border-width: 1px; border-color:rgba(0,0,0,0.125)">
            <label for="createYear_lower" class="form-label">創作年份<small class="ms-2 text-muted">e.g.
                1980</small></label>
            <div class="input-group input-group-sm mb-3">
              <input name="createYear_lower" id="createYear_lower" type="number" min="1" max="2100" class="form-control"
                aria-label="Height lower input" aria-describedby="createYear_lower" placeholder="下限"
                value="{{searching.createYear_lower}}">
              <span class="input-group-text" id="createYear_upper"> - </span>
              <input name="createYear_upper" type="number" min="1" max="2100" class="form-control"
                aria-label="Height upper input" aria-describedby="createYear_upper" placeholder="上限"
                value="{{searching.createYear_upper}}">
            </div>
            <div class="form-check form-switch ms-auto">
              <input name="createYear_includeNone" class="form-check-input" type="checkbox" role="switch"
                id="createYear_includeNone" {{#unless searching.createYear_includeNone}}checked{{/unless}}>
              <label class="form-check-label" for="createYear_includeNone">包含無年份的作品</label>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="col-12 col-md-1">
      <div class="row">
        <div class="col-12 ms-auto mb-3">
          <button type="submit" class="btn btn-success btn-sm">Submit</button>
        </div>
        <div class="col-12 ms-auto mb-3">
          <input type="reset" class="btn btn-secondary btn-sm" value="Reset">
        </div>
      </div>
    </div>

  </form>


  {{!-- 查詢前顯示各項代表作品 --}}
  {{#unless artwork_result}}
  {{!-- media --}}
  <h4 class="mb-3"><i class="fa-solid fa-diamond fa-2xs me-3"></i>媒材</h4>
  <hr class="mb-4">
  <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-5 g-4 mb-5">
    {{#each selections.media}}
    {{#passNoResult this.workCount}}
    <div class="col">
      <a href="/artworks/search?mediumId={{this.id}}">
        <div class="card h-100">
          <img src="{{this.Artworks.ArtworkImages.url}}" style="width: 100%; height: 100px; object-fit: cover"
            class="card-img-top" alt="{{this.name}}">

          <div class="card-body d-flex justify-content-between">
            <h5 class="card-title">{{this.name}}</h5>
            <small class="text-muted">{{this.workCount}}</small>
          </div>
        </div>
      </a>
    </div>
    {{/passNoResult}}
    {{/each}}
  </div>

  {{!-- artists --}}
  <h4 class="mb-3"><i class="fa-solid fa-diamond fa-2xs me-3"></i>藝術家</h4>
  <hr class="mb-4">
  <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-5 g-4 mb-5">
    {{#each selections.artists}}
    {{#passNoResult this.workCount}}
    <div class="col">
      <a href="/artworks/search?artistId={{this.id}}">
        <div class="card h-100">
          <img src="{{this.Creations.ArtworkImages.url}}" style="width: 100%; height: 100px; object-fit: cover"
            class="card-img-top" alt="{{this.name}}">

          <div class="card-body d-flex justify-content-between">
            <h5 class="card-title">{{this.name}}</h5>
            <small class="text-muted">{{this.workCount}}</small>
          </div>
        </div>
      </a>
    </div>
    {{/passNoResult}}
    {{/each}}
  </div>

  {{!-- subjects --}}
  <h4 class="mb-3"><i class="fa-solid fa-diamond fa-2xs me-3"></i>主題</h4>
  <hr class="mb-4">
  <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-5 g-4 mb-5">
    {{#each selections.subjects}}
    {{#passNoResult this.workCount}}
    <div class="col">
      <a href="/artworks/search?subjectId={{this.id}}">
        <div class="card h-100">
          <img src="{{this.ContainedArtworks.ArtworkImages.url}}" style="width: 100%; height: 100px; object-fit: cover"
            class="card-img-top" alt="{{this.name}}">

          <div class="card-body d-flex justify-content-between">
            <h5 class="card-title">{{this.name}}</h5>
            <small class="text-muted">{{this.workCount}}</small>
          </div>
        </div>
      </a>
    </div>
    {{/passNoResult}}
    {{/each}}
  </div>
  {{/unless}}

  {{!-- 查到結果 --}}
  {{#if artwork_result.rows }}
  <p>共{{artwork_result.count}}件藝術品</p>
  {{/if}}

  {{#noResult artwork_result.count}}
  <p align="center">查無藝術品，請重新搜尋</p>
  {{/noResult}}


  {{!-- artwork searching results --}}
  <div class="grid mb-5">
    {{#each artwork_result.rows}}
    <div class="card grid-item grid-item-artwork-big">
      <a href="/artworks/{{this.id}}">
        <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}"
          style="height: auto; min-height: 50px; max-height: 600px; object-fit: cover">
      </a>
      <span style="position: absolute; bottom: 110px; right: 5%" align="right">
        <a href="#" style="color:peru" class="mx-2"><i class="fa-solid fa-circle-plus"></i></a>
        <a href="#" style="color:tomato"><i class="fa-regular fa-heart"></i></a>
      </span>

      <div class="card-body">
        <h6 class="card-title" style="height: 2em;">{{this.name}}</h6>
        <small class="card-text" style="height: 2em;">{{#each
          this.Creators}}{{this.name}}{{/each}}　{{this.medium}}　{{this.creationTime}}　{{this.size}}&nbsp;cm
        </small>
      </div>
    </div>
    {{/each}}
  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>


<script>
  const $grid = $('.grid').masonry({
    itemSelector: '.grid-item',
    columnWidth: 10,  // 欄與欄之間的距離
    // horizontalOrder: true
  });

  $grid.imagesLoaded().progress(function () {  // trigger layout after loaded then initialize Masonry
    $grid.masonry();
  });

</script>