<div class="exhibition-banner mb-5">
  <div class="ms-5">
    <h2 class="banner-title">{{collection.name}}</h2>
    <small class="banner-details ms-2" style="margin-right: 25%">{{collection.description}}</small>
  </div>
</div>

{{!-- Show edit & delete btn if owned by user --}}
{{#if collection.editable}}
<div class="mb-3 d-flex justify-content-end" >
  <div class="btn-group btn-group-sm banner-buttons" role="group" style="position: relative; top: -90px">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
      data-bs-target="#edit_collection_modal">Edit</button>
    <form action="/collections/{{collection.id}}?_method=DELETE" method="post" id="deleteCollection"></form>
    <button type="submit" form="deleteCollection" class="btn btn-outline-danger">Delete</button>
  </div>
</div>

<div class="modal fade" id="edit_collection_modal" tabindex="-1" aria-labelledby="edit_collection_label"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit_collection_label">Edit Collection</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/collections/{{collection.id}}?_method=PUT" method="post" id="editCollection">
          <div class="form-check form-switch">
            <div class="mb-3 row">
              <label for="name" class="col-sm-3 col-form-label">New Name</label>
              <div class="col-sm-9">
                <input class="form-control" type="text" name="name" id="name" value="{{collection.name}}" maxlength="25" required>
                <p><small class="text-muted">Max: 25 characters</small></p>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="description" class="col-sm-3 col-form-label">Description</label>
              <div class="col-sm-9">
                <textarea class="form-control" name="description" id="description" rows="5" maxlength="100">{{collection.description}}</textarea>
                <p><small class="text-muted">Max: 100 characters</small></p>
              </div>
            </div>

            <div class="mb-3 d-flex justify-content-end">
              <input class="form-check-input me-2" type="checkbox" role="switch" id="privacy" name="privacy" {{#if
                collection.privacy}}checked{{/if}}>
              <label class="form-check-label" for="privacy">Public</label>
            </div>

          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" form="editCollection" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{{/if}}

<div class="container-fluid">
  <div class="d-flex justify-content-between">
    <p id="workCount">共{{collection.workCount}}件藝術品</p>
    <p><span> Created by </span>{{collection.User.name}}</p>
  </div>

  {{#noResult collection.workCount}}
  <p align="center">尚無作品加入</p>
  {{/noResult}}

  <div class="grid mb-5">
    {{#each collection.JoinedArtworks}}
    <div class="card grid-item grid-item-artwork-big">
      <a href="/artworks/{{this.id}}">
        <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}"
          style="height: auto; min-height: 50px; max-height: 600px; object-fit: cover">
      </a>

      <div style="position: absolute; bottom: 120px; right: 5%;" align="right" class="d-flex justify-content-end button-area">
        <button type="button" class="btn btn-sm btn-link modal_btn addCollection_btn"
          data-bs-target="#editCollection_{{this.id}}">
        {{#if this.isAdded}}
          <i class="fa-solid fa-circle-plus modal_btn addCollection_btn "></i>
        {{else}}
          <i class="fa-solid fa-plus modal_btn addCollection_btn"></i>
        {{/if}}
        </button>

        {{#if this.isFavorite}}
        <form id="favorite" action="/collections/favorite/{{this.id}}?_method=DELETE" method="post">
          <button type="submit" form="favorite" class="btn btn-sm btn-link favorite_btn">
            <i class="fa-solid fa-heart favorite_btn"></i>
          </button>
        </form>
        {{else}}
        <form id="favorite" action="/collections/favorite/{{this.id}}" method="post">
          <button type="submit" form="favorite" class="btn btn-sm btn-link favorite_btn">
            <i class="fa-regular fa-heart favorite_btn"></i>
          </button>
        </form>
        {{/if}}
      </div>

      <div class="card-body">
        <h6 class="card-title" style="height: 2em">{{this.name}}</h6>
        <small class="card-text" style="height: 2em">
          {{this.artistName}}　{{this.Medium.name}}　{{this.creationTime}}　{{this.size}}&nbsp;cm
        </small>
      </div>
    </div>

    <div class="modal fade" id="editCollection_{{this.id}}" tabindex="-1">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add to Collections</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="min-height: 200px" align="center">
            <form id="edit_collection_{{this.id}}" action="/collections/artworks/{{this.id}}?_method=PUT" method="post">
              <select class="form-select mb-3" name="collectionId_select" id="selectWork_{{this.id}}" size="8" multiple>
              </select>
              <p class="text-muted">Press ctrl to add or remove multiple collections.</p>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" form="edit_collection_{{this.id}}" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<div class="modal" id="login_alert" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please login first.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <a href="/user/signup"><button type="button" class="btn btn-success">Sign up</button></a>
        <a href="/user/login"><button type="button" class="btn btn-primary">Login </button></a>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
  const $grid = $('.grid').masonry({
    itemSelector: '.grid-item',
    columnWidth: 10,  // 欄與欄之間的距離
    // horizontalOrder: true
  });

  $grid.imagesLoaded().progress(function () {  // trigger layout after loaded then initialize Masonry
    $grid.masonry();
  });

  // delete collection alert
  const delete_collection_form = document.querySelector('#deleteCollection')
  if (delete_collection_form) {

    delete_collection_form.addEventListener('submit', event => {
      event.preventDefault()
      const collection_name = document.querySelector('.banner-title').innerText
      const work_count = document.getElementById('workCount').innerText

      if ({{collection.hasReservation}}) {
        Swal.fire({
          title: "Unable to delete",
          text: "This collection has been reserved. It's not allowed to delete.",
          icon: "warning"
        })
      } else {
        Swal.fire({
          title: 'Are you sure?',
          text: `確定要刪除 ${collection_name}，${work_count}？`,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: '刪除！'
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire(
              '已刪除!',
              `${collection_name}，${work_count}件作品`,
              'success'
            ).then(result => {
              delete_collection_form.submit()
            })
          }
        })
      }
    })
  }


  // ajax get collections
  const grid = document.querySelector('.grid')

  function removeAllChild(node) {
    while (node.firstElementChild) {
      node.removeChild(node.firstElementChild)
    }
  }
  grid.addEventListener('click', async (event) => {
    const ifLogout = document.querySelector('#login')
    const login_alert = new bootstrap.Modal(document.getElementById('login_alert'))
    let target = event.target

    // add favorites button: check logout before submit
    if (target.classList.contains('favorite_btn')) {
      event.stopPropagation()
      event.preventDefault()
      if (ifLogout) login_alert.show()
      else {
        let form
        if (target.tagName === 'I') {
          form = target.parentElement.parentElement
        } else {
          form = target.parentElement
        }
        form.submit()
      }
    }

    // add collection button: 
    // 1. check logout before submit; 2. axios get collection 
    if (target.classList.contains('modal_btn')) {
      let workId
      if (target.tagName === 'I') {
        workId = target.parentElement.getAttribute('data-bs-target').split('_')[1]
      } else {
        workId = target.getAttribute('data-bs-target').split('_')[1]
      }

      if (ifLogout) login_alert.show()
      else {
        let modalCalled = new bootstrap.Modal(document.getElementById(`editCollection_${workId}`))
        modalCalled.show()
        try {
          let response = await axios.get('/api/session/collections')
          let ownCollections = response.data
          let modal_select = document.getElementById(`selectWork_${workId}`)
          removeAllChild(modal_select)

          ownCollections.forEach(col => {
            let option = document.createElement('option')
            option.setAttribute('value', col.id)
            if (col.JoinedArtworks.find(work => work.id === Number(workId))) {
              option.setAttribute('selected', "")
            }
            option.innerText = `${col.name} (${col.workCount} pieces)`
            modal_select.appendChild(option)
          })
        } catch (error) {
          console.log(error)
        }
      }
    }
  })

</script>