<div class="banner mb-5">
  <h2 class="exhibition-name">{{exhibition.name}}</h2>
</div>

<div class="container-fluid">

  {{!-- nav tabs --}}
  <ul class="nav nav-tabs mb-5">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/exhibitions/{{exhibition.id}}">Introduction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/exhibitions/{{exhibition.id}}/artworks">Artworks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/exhibitions/{{exhibition.id}}/images">Images</a>
    </li>
  </ul>

  {{!-- poster and introduction --}}
  <div class="card border-white mb-5">
    <img src="{{exhibition.poster}}" class="card-img-top mx-auto" style="max-width: 540px;" alt="{{exhibition.name}}">
    <div class="card-body">
      <h5 style="line-height: 200%">{{exhibition.introduction}}</h5>
    </div>
  </div>

</div>