<div class="exhibition-banner mb-5">
  <h3 class="exhibition-name">{{exhibition.name}}</h3>
</div>

<div class="container-fluid">

  {{!-- nav tabs --}}
  <ul class="nav nav-tabs mb-5">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/exhibitions/{{exhibition.id}}">Introduction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/exhibitions/{{exhibition.id}}/artworks">Artworks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/exhibitions/{{exhibition.id}}/images">Images</a>
    </li>
  </ul>

  {{!-- poster and introduction --}}
  <div class="card border-white mb-5">
    <div class="row">
      <div class="col-12 col-lg-4 mb-5 me-5 d-flex justify-content-center">
        <img src="{{exhibition.poster}}" class=" card-img-top mx-auto"
          style="max-width: 500px; max-height: 600px; object-fit: contain" alt="{{exhibition.name}}">
      </div>
      <div class="card-body col-12 col-lg-7">
        <p style="line-height: 200%; max-width: 800px">{{exhibition.introduction}}</p>
        <ul>
          <li class="my-2"><strong>開始日期</strong> {{exhibition.date_start}}</li>
          <li class="mb-2"><strong>結束日期</strong> {{exhibition.date_end}}</li>
          <li class="mb-2"><strong>展覽地點</strong> {{exhibition.location}}</li>
          <li class="mb-2"><strong>展品數量</strong> 
            <a href="/exhibitions/{{exhibition.id}}/artworks">
              共 {{exhibition.artwork_sum}} 件作品
              <span style="font-size: 12px; color: rgba(238, 153, 104, 0.952);"><i class="fa-solid fa-square-arrow-up-right"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>