<div class="container-fluid" style="margin-top: 120px">

  {{#unless exhibitionsData}}
  <h5 align="center">No exhibition available!</h5>
  {{/unless}}
  <div class="row row-cols-1 row-cols-md-2 g-4 d-flex justify-content-center">
  {{#each exhibitionsData}}
  
  <div class="card mb-5 mx-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href="/exhibitions/{{this.id}}">
        <img src="{{this.ExhibitionImages}}" class="img-fluid rounded-start" alt="{{this.name}}">
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{this.name}} </h5>
          
          <p><small>展期：{{this.date_start}} - {{this.date_end}}</small></p>
          <p class="card-text">{{this.introduction}}</p>
          <a href="/exhibitions/{{this.id}}/artworks" title="瀏覽展出作品">
          <p class="card-text" align="right"><small class="text-muted">
            <i class="fa-regular fa-image"></i> {{this.artwork_sum}}
          </small></p>
          </a>
        
        </div>
      </div>
    </div>
  </div>

  {{/each}}
  </div>
</div>